## Introduction to Python for Machine Learning

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

#### If youâ€™re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B = [1,2,3,4,5,6,13, 21, 34]

In [33]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A_B = A.append(B)
A_B

In [34]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A_B = A.extend(B)

In [36]:
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [35]:
A = [1, 2, 3, 4, 5, 6]  
B = [13, 21, 34]
A_B = A + B
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

#### How do you create an identity matrix in python?

In [10]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Which of the following fuel type code has the lowest average fuel cost per unit burned?

waste          -276.08

In [11]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
dataset = pd.read_csv(url)
dataset.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [12]:
dataset.groupby("fuel_type_code_pudl")['fuel_cost_per_unit_burned'].min()

fuel_type_code_pudl
coal         0.00
gas          0.00
nuclear      0.00
oil          0.00
other     -119.04
waste     -276.08
Name: fuel_cost_per_unit_burned, dtype: float64

#### What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
STD = 10.600220


75th = 17.006000

In [18]:
dataset.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

#### What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

skew = 15.851495469109503

kurt = 651.3694501337732

In [13]:
dataset['fuel_qty_burned'].skew()

15.851495469109503

In [14]:
dataset['fuel_qty_burned'].kurt()

651.3694501337732

#### Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

Feature: fuel_unit, Total: 180, Percent: 0.609

In [16]:
dataset.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

#### The feature with missing values falls under what category? What missing value imputation technique would you use?

None of the above

category and .dropna()

#### Which year has the highest average fuel cost per unit delivered?

2018

In [17]:
dataset.groupby('fuel_cost_per_unit_delivered')['report_year'].mean().max()

2018.0

#### Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

fuel_qty_burned and fuel_mmbtu_per_unit

In [25]:
dataset.corr(method='pearson').sort_values('fuel_cost_per_unit_burned', ascending = False)

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122

#### For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [28]:
dataset.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']